<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Fooot.ma</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">National teams
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/national-teams">Senior</a></li>
          <li><a href="#">U23</a></li>
          <li><a href="#">U20</a></li>
        </ul>
      </li>
      <li><a href="/clubs">Clubs</a></li>
      <li><a href="/competitions">Competitions</a></li>
      <li><a href="/referees">Referees</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stadiums
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/stadiums">Famous stadiums</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
